<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2015-present, Parse, LLC.
  ~ All rights reserved.
  ~
  ~ This source code is licensed under the BSD-style license found in the
  ~ LICENSE file in the root directory of this source tree. An additional grant
  ~ of patent rights can be found in the PATENTS file in the same directory.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.favourama">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps"/>



    <!--
      IMPORTANT: Change "favouramama.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.parse.favourama.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.parse.favourama.permission.C2D_MESSAGE" />

    <application
        android:name="com.parse.favourama.StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--<meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.parse.favourama.MainActivity"
		    android:theme="@style/SplashTheme"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.parse.favourama.ACTLoginSelf"
            android:parentActivityName="com.parse.favourama.MainActivity"
            android:noHistory="true">
          
        </activity>


        <activity android:name="com.parse.favourama.ACTRequest" android:parentActivityName="com.parse.favourama.ACTLoginSelf" android:launchMode="singleTask">

            <intent-filter>
                <action android:name="com.parse.favourama.HANDLE_FAVOURAMA_REQUESTS"></action>
                <action android:name="com.parse.favourama.HANDLE_FAVOURAMA_MESSAGES"></action>
                <action android:name="com.parse.favourama.HANDLE_FAVOURAMA_TOPICS"></action>
            </intent-filter>
        </activity>

        <activity
            android:name="com.parse.favourama.ACTMsg"
            android:label="@string/title_activity_actmsg"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.parse.favourama.ACTRequest"></activity>

        <activity
            android:name="com.parse.favourama.ACTImgCrop"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity"
            android:parentActivityName="com.parse.favourama.ACTRequest"></activity>

        <activity android:name="com.parse.favourama.ACTtopics"
            android:parentActivityName="com.parse.favourama.ACTRequest"></activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.favourama.MyPushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--                   IMPORTANT: Change "favouramama" to match your app's package name. -->
                <category android:name="com.parse.favourama" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.parse.push.gcm_sender_id"
            android:value="id:528033395445" />

    </application>

</manifest>
